:root{
    --mainColor:#20C997;
    --rightGray:#F8F9FA;
    --likeBlack:#4C4D4D;
    --grayLike:#949696;
    --secondColor:#111418;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: poppins;
}
.dashboard-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F8F9FA;
}
.upnav{
    width: 100%;
    height: 50px;
    box-shadow: 2px 2px 2px gray;
}
.upnav .nav-content{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 20px;
    margin-left: 5px;
    justify-content: space-between;
}
.upnav .input{
    line-height: 50px;
    height: 60%;
    width: 200px;
    border-radius: 4px;
    outline: none;
    border: none;
    /* margin: 10px 5px; */
    text-indent: 20px;
    background-color: #e7e9eb;
}
.upnav .search{
    color: black;
    font-size: 14px;
    margin-top: 7px;
    margin-left: -30px;
    color: var(--grayLike);
}
.upnav .new{
    display: flex;
    flex-direction: row;
    margin-left: 4%;
    width: 20%;
    margin-top: 2px;
}
.new{
    display: flex;
    flex-direction: row;
    /* margin-top: 10px; */
}
.new .cirlce{
    background-color: var(--mainColor);
    height: 50%;
    text-align: center;
    padding: 2px 5px;
}
.new i{
    color: white;
    font-size: 1em;
}
.new a{
    color: var(--mainColor);
    /* margin-top: 10px; */
    width: 100%;
    text-decoration: none;
}
.not-mes{
    display: flex;
    width: 4%;
    justify-content: space-between;
    margin-left: 40%;
}
.me{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: red; */
}
.not-mes{
    
    flex-direction: row;
}
.not-mes .notification{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.notification i{
    color: var(--grayLike);
    font-size: 1em;
}
.notification .circle{
    background-color: var(--mainColor);
    border-radius: 50%;
    /* height: 100%; */
    width: 100%;
    padding: 2px 5.5px;
    position: absolute;
    bottom: 45px;
    left: 10px;
}
.notification .circle p{
    font-size: 0.6em;
    color: white;
}
.profile{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.profile img{
    width: 2em;
    height: 2em;
    object-fit: cover;
    border-radius: 50%;
}
.profile p{
    font-size: 0.7em;
    color: var(--grayLike);
    margin-top: 17px;
    margin-left: 3px;
}
.dashboard-content{
    display: flex;
    flex-direction: column;
}
.sidebar{
    width: 15%;
    background-color: var(--secondColor);
    height: 100%;
    position: fixed;
}
.main-content{
    margin-left: 16%;
}
.links{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.sidebar .side-link{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.sidebar .header{
    display: flex;
    flex-direction: row;
    color: white;
    margin-left: 10px;
    margin-top: 12px;
    margin-bottom: 30px;
}
.sidebar .header i{
    margin-left: 50%;
}
.header p{
    font-size: 1em;
    font-weight: bold;
}
.side-link i{
    font-size: 1em;
    color: white;
    margin-right: 12px;
    margin-top: 4px;
}
.side-link a{
    text-decoration: none;
    color: white;
}
.content{
    display: flex;
    flex-direction: column;
}
.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    flex-wrap: wrap;
}

.boxes .box{
    background-color: #20C997;
    display: flex;
    width: 230px;
    height: 100%;
    border-radius: 4px;
    margin-top: 10px;
}
.boxes .box:nth-child(2){
    background-color: #DC3545;
}
.boxes .box:nth-child(3){
    background-color: #0866C6;
}
.boxes .box:nth-child(4){
    background-color: #1D2939;
}
.box i{
    font-size: 2em;
    color: white;
    margin-left: 12px;
    margin-top: 15%;
}
.box .text{
    margin: 10px;
    width: 100%;
}
.box .text .title{
    font-size: 0.8em;
    color: white;
}
.box .text .stats{
    font-size: 1.9em;
    color: white;
}
.box .text .comparison{
    font-size: 0.7em;
    color: white;
    
}
.graphs{
    display: flex;
    margin-top: 20px;
    width: 100%;
}
.graphs .daily-views{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    height: 50vh;
    width: 20%;
}
.mappings{
    display: flex;
    justify-content: space-between;
}
.mapped{
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.mapped .stick{
    width: 4px;
    height: 90px;
    margin: auto;
}
.mapped .stick:nth-child(1){
    
    background-color: #20C997;
}
.mapped .stick:nth-child(2){
    /* width: 4px; */
    /* height: 90px; */
    background-color: #DC3545;
    /* margin: auto; */
}
.mapped .stick:nth-child(3){
    height: 90px;
    background-color: #DC3545;
}
.mapped .stick:nth-child(4){
    width: 4px;
    height: 90px;
    background-color: #1D2939;
    margin: auto;
}
.mapped p{
    font-size: 0.8em;
}
.visitors{
    display: flex;
    width: 95%;
    margin-top: 1em;
    flex-wrap: wrap;
}
.visitors .map{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #fff;
    border-radius: 1px;
}
.map p{
    font-size: 1em;
    color: var(--grayLike);
    margin: 10px;
}
.map .image{
    width: 100%;
}
.map .image img{
    width: 100%;
    object-fit: cover;
}
.visitors .statistics{
    width: 39%;
    background-color: #fff;
    margin-left: 3px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}
.statistics .country{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 1em;
}
.country .number{
    font-size: 1em;
    color: #1D2939;
    font-family: poppins;
    font-weight: bold;
}
.country .origin{
    font-size: 0.7em;
    color: var(--grayLike);
}
.bars{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -10px;
}
.bars .percent{
    margin-left: 93%;
    color: var(--grayLike);
    font-size: 0.7em;
}
.progress{
    height: 5px;
    width: 100%;
    background-color: #e2e2e2;
    border-radius: 30px;
}
.progressing{
    width: 90%;
    background-color: #DC3545;
    border-radius: 30px;
    height: 100%;
}
.statistics:nth-child(1) .country .progress .progressing{
    background-color: red;
}
@media only screen and (max-width:700px){
    .dashboard-main{
        width: 100vw;
    }
    .dashboard-content{
        width: 100%;
    }
    .sidebar{
        width: 9%;
    }
    .sidebar .header p{
        display: none;
    }
    .sidebar .header i{
        margin: 0;
    }
    
    .side-link .text{
        display: none;
    }
    .main-content{
        margin-left: 10%;
        width: 89%;
    }
    .content h5{
        margin: auto;
    }
    .boxes .box{
        margin-left: 10px;
        width: 40%;
    }
    .upnav{
        display: none;
    }
    .content{
        width: 100%;
    }
    .box .stats{
        font-size: 2.2em !important;
    }
    .box .comparison{
        font-size: 1em !important;
    }
    .boxes{
        width: 100%;
        flex-wrap: wrap;
        /* display: flex; */
        /* flex-direction: column; */
    }
    .box i{
        margin: auto 10px;
    }
    .box .title{
        font-size: 1.2em !important;
    }
    .visitors{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .map{
        width: 100% !important;
    }
    .map .image{
        width: 100%;
    }
    .map .image img{
        width: 100%;
    }
    .visitors .statistics{
        margin-top: 15px;
        width: 100%;
    }

}