:root{
    --mainColor:#20C997;
    --rightGray:#F8F9FA;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.whole-app{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.sidebar{
    background-color: #111418;
    position: fixed;
    /* border: 1px solid red; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 15%;
}
.side-content{
    margin-left: 12px;
    margin-top: 20px;
}
.sidebar img{
    margin-top: 10px;
    width: 9em;
    height: 9em;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
    border: 7px solid #3b3737;
}
.sidebar .myName{
    color: white;
    font-size: 17px;
    margin-left: auto;
    font-family: poppins;
    font-weight: bold;
}
.side-content .bars{
    display: none;
}
.side-content ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}
.side-content ul li{
    padding: 10px 0px;
    cursor: pointer;
}
.side-content ul li a{
    text-decoration: none;
    color: #c4c4c4;
    font-size: 15px;
    font-family: poppins;
}
.side-content .social-media{
    display: flex;
    flex-direction: row;
    margin-top: 1.3em;
    margin-left: 10px;
}
.side-content .social-media span{
    color: #656565;
    margin-right: 15px;
    cursor: pointer;
}
.social-media span:hover{
    color: var(--mainColor);
}
ul li a:hover{
    color: var(--mainColor);
}
.whole-content{
    display: flex;
    height: 100%;
    width: 85%;
    flex-direction: column;
    margin-left: 15%;
}
.home{
    display: flex;
    flex-direction: row;
}
.banner{
    width: 90%;
    background-color: var(--rightGray);
    height: 100%;
    z-index: -1;
}
.home-content{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.my-profile{
    margin-left: -5%;
    margin-top: 3.5%;
    height: 10%;
    width: 45%;
    margin-right: 6em;
}
.my-profile img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.main-home{
    display: flex;
    flex-direction: column;
}
.main-home .welcome{
    font-weight: bolder;
    font-size: 2.3em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #4C4D4D;
    /* margin-top: 4%; */
    padding-top: 4%;
    padding-left: 20%;
    /* margin-left: 20%; */
}
.main-home .my-job{
    color: #4C4D4D;
    font-size: 1.9em;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 2%;
    padding-left: 6%;
}
.main-home .based{
    font-size: 1em;
    font-weight: 600;
    color: #4C4D4D;
    padding-top: 2%;
    padding-left: 20%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.socials{
    padding-top: 2%;
    padding-left: 20%;
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #4C4D4D;
}
.contacts{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 2%;
    padding-left: 20%;
}
.contacts .social-link{
    color: white;
    font-size: 1em;
    /* padding: 0px 10px; */
    border-radius: 50%;
    width: 2em;
    height: 2em;
    text-align: center;
    border: none;
    margin-right: 10px;
    background-color: #000;
    cursor: pointer;
}
.social-link:hover{
    color: #4C4D4D;
    background-color: blue;
}
.hire-me{
    display: flex;
    padding-top: 4%;
    padding-left: 5%;
    padding-bottom: 4em;
}
.hire{
    margin-right: 11em;
}
.hire,.download{
    background-color: transparent;
    border: 1.5px solid #20C997;
    border-radius: 2em;
    width: 120px;
    cursor: pointer;
    height: 35px;
}
.hire a,.download a{
    text-decoration: none;
    color: #4C4D4D;
    font-weight: bold;
}
.download{
    background-color: var(--mainColor);
    border: none;
    color: white !important;
}
.quote{
    margin-top: 2em;
    margin-left: 42%;
    width: 300px;
}
.quote p{
    color: #4C4D4D;
    font-size: 14px;
    font-family: poppins;
}
.login{
    margin-left: -24px;
    padding-top: 10px;
}
.menu {
    display: none;
}
.login a{
    padding: 7px 40px;
    color: var(--mainColor);
    border: 1px solid var(--mainColor);
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
}
.login a:hover{
    background-color: var(--mainColor);
    color: white;
}
.about-main{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    width: 95%;
    
    margin-left: 2%;
}
.header{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.header h1{
    color: #656565;
    font-size: 2em;
    font-weight: 700;
}
.underline{
    width: 6em;
    height: 3px;
    background-color: var(--mainColor);
    margin-left: 3.5em;
}
.about-content{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    width: 100%;
}
.about-content .bio{
    width: 60%;
    /* margin-left: 1%; */
}
.bio .myName{
    font-size: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #4C4D4D;
}
.myName span{
    color: var(--mainColor);
    margin-left: 1px;
    font-size: 1.3em;
}
.bio-content{
    display: flex;
    flex-direction: column;
}
.bio-content div{
    margin-top: 20px;
    font-size: 14px;
    font-family: poppins;
    color: #4C4D4D;

}
.my-summary{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 4%;

}
.my-summary .name{
    display: flex;
    flex-direction: row;
}
.name .key{
    font-weight: 900;
    font-family: poppins;
    font-size: 17px;
    color: #3b3737;
}
.name .value{
    color: #4C4D4D;
    font-weight: 400;
    font-family: poppins;
    padding-left: 10px;
    font-size: 15px;
}
.name:nth-child(2) .value{
    color: var(--mainColor);
    font-weight: bold;
}
.desc{
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
    width: 100%;

}
 .desc .divider{
    display: block;
    background-color: #c4c4c4;
    height: 1px;
    width: 100%;
}
 .cv-down{
    background-color: var(--mainColor);
    border: none;
    border-radius: 2em;
    color: white;
    font-size: 15px;
    font-family: poppins;
    width: 40%;
    margin-top: 12px;
    padding: 10px 0px;
    text-align: center;
}
.about-exp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 2%;
}
.about-exp .exp{
    display: flex;
}
.exp .divider{
    height: 100%;
    width: 1px;
    background-color: #4C4D4D;
    margin-left: 10px;
}
.exp .text{
    display: flex;
    flex-direction: column;
}
.exp .text h2{
    color: #4C4D4D;
    font-size: 2.5em;
    margin: auto;
}
.exp .text h4{
    font-size: 1.2em;
    color: #4C4D4D;
    font-family: poppins;
    font-weight: 500;
}
.skills-page{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    background-color: #F8F9FA;
}
.skills-page .underline{
    width: 75px;
    margin-left: 25%;
}
.skills-page .content{
    padding: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.content .row{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.service{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 45%;
}
.service .icon{
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 50px;
    background-color: white;
    box-shadow: 0px 4px 4px rgb(192, 185, 185);
    border: none;
}
.icon i{
    color: var(--mainColor);
    font-size: 1.4em;
    margin: auto;
}
.service .text{
    margin-left: 12px;
    margin-top: -5px;
    color: #4C4D4D;
}
.service .text h2{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #252b33;
    font-family: poppins;
}
.service .text p{
    font-size: 0.9em;
    font-family: poppins;
    color: #4C4D4D;
}
.resume{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 2%;
}
.resume .underline{
    width: 3.2em;
    margin-left: 2.2em;
}
.resume .achieved{
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    justify-content: space-between;
}
.achieved .head{
    font-size: 1.2em;
    font-family: poppins;
    font-weight: 600;
    color: #252b33;
}
.achieved .experience{
    margin-left: 6em;
}
.achieved .education{
    margin-bottom: 12px;
    width: 50%;
}
.education .desc{

    border: 1px solid #c4c4c4;
    margin-bottom: 12px;
    width: 100%;
    border-radius: 2px;
}
.education .desc .content{
    margin: 1em;
}
.education .desc .date{
    background-color: var(--mainColor);
    width: 100px;
    height: 23px;
    border: none;
    border-radius: 2px;
    padding: 4px 10px;
}
.desc .date p{
    /* margin: 15px; */
    color: white;
    font-family: poppins;
    font-weight: 600;
    font-size: 12px;
    
}
.desc .major{
    font-size: 1.2em;
    color: #252b33;
    font-weight: 500;
    font-family: poppins;
    margin-bottom: 2px;
}
.desc .school{
    color: var(--mainColor);
    font-family: poppins;
    margin-bottom: 1.2em;
}
.desc .intro{
    font-size: 0.9em;
    font-family: poppins;
}
.skills{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.skills .col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.skills .head{
    font-size: 1.2em;
    font-family: poppins;
    font-weight: 600;
    color: #252b33;   
}
.skill{
    margin-top: 12px;
    width: 45%;
}
.skill .text{
    display: flex;
    justify-content: space-between;
}
.skill .text{
    margin-bottom: 10px;
    font-size: 14px;
    font-family: poppins;
    color: #252b33;
}
.progress{
    height: 10px;
    width: 100%;
    background-color: #e2e2e2;
    border-radius: 30px;
}
.progressing{
    width: 50%;
    background-color: var(--mainColor);
    border-radius: 30px;
    height: 100%;
}
.portfolio{
    margin-top: 5%;
    width: 100%;
    /* background-color: red; */
    background-color: var(--rightGray);
    display: flex;
    flex-direction: column;
    
}
.portfolio .underline{
    width: 50%;
    margin-left: 25%;
}
.portfolio .minor-header{
    display: flex;
    margin: auto;
    margin-top: 2em;
}
.portfolio .minor-header .active{
    text-decoration: none;
    font-size: 16px;
    color: #4C4D4D;
    padding-right: 15px;
}
.minor-header .active .underline{
    width: 150%;
    margin-left: -4px;
}
.minor-header .active a{
    font-size: 1.2em;
}
.portfolio .projects{
    margin-left: 2%;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}
.projects .project{
    padding: 10px;
    display:flex;
    flex-direction: column;
    width: 400px;
    /* background-color: red; */
    background-color: white;
    margin-right: 50px;
    height: 70vh;
    box-shadow: 1px 2px 4px gray;
    border: none;
}
.project .image{
    height:70%;
    width: 100%;
}
.image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.project .text-holder{
    background-color: var(--mainColor);
    border-radius: 283px 0 0 0;
    width: 100%;
    height: 30%;
}
.projects .next{
    margin: auto;
    color: var(--mainColor);
    font-size: 2em;
}
.project .text-holder .text{
    margin-left: 20%;
    margin-top: 12%;
}
.text-holder .text .key-value{
    display: flex;
    color: white;
}
.text .key-value .key{
    font-size: 1em;
    font-family: poppins;
}
.text .key-value p{
    font-size: 0.8em;
    font-family: poppins;
    /* margin-left: 5px; */
    margin: auto 6px;
}
.contact-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
    background-color: var(--rightGray);
}
.contact-page .underline{
    margin-left: 20%;
}
.contact-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-top:2%;
}
.contact-page .address{
    width: 30%;
    color: #4C4D4D;
}
.contact-content .address h2{
    font-size: 1.2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 12px;
}
.address .house{
    font-family: poppins;
    font-size: 1em;
}
.address .road{
    font-family: poppins;
    font-size: 1em;
}
.address .city{
    font-size: 1.1em;
    font-family: poppins;
}
.address .call-me{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 7px;
}
.call-me .phone{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
}
.phone span{
    font-size: 1.2em;
    color: var(--mainColor);
}
.phone p{
    /* margin: auto; */
    margin-left: 12px;
    font-family: poppins;
}
.follow-me{
    display: flex;
    flex-direction: row;    
}
.follow-me span{
    font-size: 1.1em;
    margin-right: 1em;
}
.contact-form{
    width: 65%;
    display: flex;
    flex-direction: column;
    color: #4C4D4D;
}
.contact-form .validations{
    background-color: #d9534f;
    padding: 5px;
    /* max-width: 45%; */
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 4px;
    display: none;
}
.validations .message{
    color: #fff;
    text-align: center;
    font-family: poppins;
}
.contact-form h2{
    font-size: 1.2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 12px;
}
form .form-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: red; */
}
.form-input input{
    width: 45%;
    height: 45px;
    /* background-color: var(--rightGray); */
    border: 1px solid rgb(216, 215, 215);
    border-radius: 2px;
    outline: none;
    text-indent: 12px;
}
.form-input input::placeholder{
    font-size: 1em;
    font-family: poppins;
    color: rgb(190, 185, 185);
}
form textarea{
    margin-top: 12px;
    width: 100%;
    height: 90px;
    border-radius: 2px;
    border: 1px solid rgb(216, 215, 215);
    color: #4C4D4D;
    text-indent: 12px;
}
form textarea::placeholder{
    color: rgb(190, 185, 185);
    font-size: 1em;
    font-family: poppins;
}
.address .address-content{
    width: 100%;
}
.send{
    display: block;
    /* margin-top: 12px; */
    margin: auto;
    margin-top: 12px;
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    background-color: var(--mainColor);
    text-align: center;
    font-size: 1.1em;
    font-family: poppins;
    color: white;
}
@media only screen and (max-width:900px){
    
    body{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        /* position: absolute; */
    }
    .sidebar{
        height:6%;
        width: 99%;
        background-color: #111418;
    }
    .sidebar .side-content{
        display: flex;
        flex-direction: row;
        padding: 0;
        margin-top: 20px !important;
        width: 100%;
    }
    .side-content img{
        display: none;
    }
    .side-content ul{
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        display: none;
    }
    .myName{
        margin-left: 10px !important;
        font-size: 1em !important;
        font-weight: 700;
    }
    .social-media{
        margin-top: 4px !important;
        margin-left: 2.2em !important;
    }
    .social-media i{
        font-size: 1em;
        margin-right: 4px;
    }
    .menu{
        display: block;
    }
    .hire:nth-child(1){
        margin-right: 10%;
    }
    .menu i{
        color: white;
        font-size: 2em;
        margin-left: 1em;
    }
    .whole-app{
        width: 100% !important;
        margin-right: 0;
        /* background-color: red; */
    }
    .whole-content{
        margin-top: 12%;
        margin-left: 1% !important;        
        width: 99% !important;
    }
    .home{
        margin: 0 !important;
        width: 100% !important;
    }
    .banner{
        width: 100%;
    }
    .quote{
        overflow: auto;
        margin-left: 0%;
        width: 100% !important;
    }
.my-profile{
    display: none !important;
    margin-right: 0 !important;
}
.main-home .welcome{
    font-size: 2em;
}
.main-home .my-job{
    font-size: 1.2em;
}
.about-content{
    display: flex;
    flex-direction: column;
}
.about-content .bio{
    width: 100%;
    flex-wrap: wrap-reverse;
}
.about-content .my-summary{
    margin-left: 0px;
    width: 98%;
}
.skills-page .content{
    display: flex;
}
.skills-page .content .row{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content .row .service{
    width: 97%;
}
.resume{
    width: 97%;
}
.achieved{
    display: flex;
    flex-direction: column !important;
}
.achieved .education{
    display: flex;
    flex-direction: column;
    width: 97%;
}
.achieved .experience{
    display: flex;
    flex-direction: column;
    width: 97%;
    margin-left: 0;
}
.skills .col{
    display: flex;
    flex-direction: column;
}
.col .skill{
    width: 97%;
}
.projects{
    display: flex;
    flex-direction: column !important;
}
.projects .next{
    display: none;
}
.projects .project{
    width: 97%;
}
.contact-content{
    display: flex;
    flex-direction: column-reverse;
}
.contact-content .address{
    margin-left: 30%;
    /* background-color: black; */
    width: 100%;
}
.address h2{
    margin-left: 12px;
}
.address .address-content{
    width: 100%;
    margin-right: 3em;
}
.contact-form{
    width: 100%;
}
.contact-form .form-input{
    display: flex;
    flex-direction: column;
}
.form-input input{
    width: 95%;
    margin-bottom: 12px;
}
.contact-form textarea{
    width: 95%;
}
}