:root{
    --mainColor:#20C997;
    --rightGray:#F8F9FA;
    --likeBlack:#4C4D4D;
    --grayLike:#949696;
    --secondColor:#111418;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: poppins;
}
.users-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F8F9FA;
}
.upnav{
    width: 100%;
    height: 50px;
    box-shadow: 2px 2px 2px gray;
}
.upnav .nav-content{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 20px;
    margin-left: 5px;
    justify-content: space-between;
}
.upnav .input{
    line-height: 50px;
    height: 60%;
    width: 200px;
    border-radius: 4px;
    outline: none;
    border: none;
    /* margin: 10px 5px; */
    text-indent: 20px;
    background-color: #e7e9eb;
}
.upnav .search{
    color: black;
    font-size: 14px;
    margin-top: 7px;
    margin-left: -30px;
    color: var(--grayLike);
}
.upnav .new{
    display: flex;
    flex-direction: row;
    margin-left: 4%;
    width: 20%;
    margin-top: 2px;
}
.new{
    display: flex;
    flex-direction: row;
    /* margin-top: 10px; */
}
.new .cirlce{
    background-color: var(--mainColor);
    height: 50%;
    text-align: center;
    padding: 2px 5px;
}
.new i{
    color: white;
    font-size: 1em;
}
.new a{
    color: var(--mainColor);
    /* margin-top: 10px; */
    width: 100%;
    text-decoration: none;
}
.not-mes{
    display: flex;
    width: 4%;
    justify-content: space-between;
    margin-left: 40%;
}
.me{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: red; */
}
.not-mes{
    
    flex-direction: row;
}
.not-mes .notification{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.notification i{
    color: var(--grayLike);
    font-size: 1em;
}
.notification .circle{
    background-color: var(--mainColor);
    border-radius: 50%;
    /* height: 100%; */
    width: 100%;
    padding: 2px 5.5px;
    position: absolute;
    bottom: 45px;
    left: 10px;
}
.notification .circle p{
    font-size: 0.6em;
    color: white;
}
.profile{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.profile img{
    width: 2em;
    height: 2em;
    object-fit: cover;
    border-radius: 50%;
}
.profile p{
    font-size: 0.7em;
    color: var(--grayLike);
    margin-top: 17px;
    margin-left: 3px;
}
.users-content{
    display: flex;
    flex-direction: column;
}
.sidebar{
    width: 15%;
    background-color: var(--secondColor);
    height: 100%;
    position: fixed;
}
.main-content{
    margin-left: 16%;
}
.links{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.sidebar .side-link{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.sidebar .header{
    display: flex;
    flex-direction: row;
    color: white;
    margin-left: 10px;
    margin-top: 12px;
    margin-bottom: 30px;
}
.sidebar .header i{
    margin-left: 50%;
}
.header p{
    font-size: 1em;
    font-weight: bold;
}
.side-link i{
    font-size: 1em;
    color: white;
    margin-right: 12px;
    margin-top: 4px;
}
.side-link a{
    text-decoration: none;
    color: white;
}
.content{
    display: flex;
    flex-direction: column;
}
.members{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.members .header{
    display: flex;
    justify-content: space-between;
}
.header .col1,.col2{
    display: flex;
}
.col1 .all{
    color: #9ec8de;
    font-size: 1em;
    margin: auto;
}
.col1 .date{
    display: flex;
    background-color: white;
    padding: 2px 5px;
    height: auto;
    color: var(--grayLike);
    font-size: 0.7em;
    margin: auto 20px;
}
.date .end,.start{
    margin-right: 10px;
}
.total{
    margin: auto;
    color: var(--grayLike);
    font-size: 0.5em;
}
.col2{
    margin: auto;
}
.col2 .filter{
    display: flex;
    flex-direction: row;
    background-color: #ddf4ff;
    padding: 2px 5px;
    text-align: center;
}
.filter p{
    font-size: 0.7em;
    margin: auto;
    color: #7fccf3;
}
.filter i{
    font-size: 0.7em;
    color: #7fccf3;
    margin: auto 5px;
}
.download{
    margin: auto 20px;
    font-size: 1em;
    color: var(--grayLike);
}
.td.active .icon{
    background-color: var(--mainColor);
    border-radius: 50%;
    color: white;
    padding: 2px 5px;
    margin-right: 5px;
    font-size: 1em;
}
.td.active .text{
    margin: auto 10px;
}

table{
    width: 100%;
    background-color: white;
}
thead,tbody{
    border-bottom: 1px solid var(--grayLike);
}
table th{
    color: var(--grayLike);
    font-size: 0.7em;
}
th span{
    margin-left: 10px;
}
td{
    color: var(--grayLike);
    font-size: 0.8em;
    /* border: 1px solid black; */
    text-align: center;
}
.table{
    overflow-x: auto;
    margin-top: 20px;
    width: 100%;
}
.active i{
    background-color: var(--mainColor);
    border-radius: 50%;
    color: white;
    padding: 3px 3px;
}
.inactive i{
    background-color: red;
    border-radius: 50%;
    color: white;
    padding: 3px 3px;
}
.fas.fa-ellipsis-h{
    color: var(--mainColor);
    font-size: 1.5em;
    margin-left: 5px;
}
tbody{
    border: 2px solid red;
}
th, td {
    border-bottom: 1px solid #ddd;
  }
  tr{
      height: 60px;
      padding-top: 10px;
  }
  @media only screen and (max-width:600px){
    .dashboard-main{
        width: 100vw;
    }
    .dashboard-content{
        width: 100%;
    }
    .sidebar{
        width: 9%;
    }
    .sidebar .header p{
        display: none;
    }
    .sidebar .header i{
        margin: 0;
    }
    
    .side-link a{
        display: none;
    }   
  }